<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">Carlos0411</property>
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.1.5:5432/monedafront</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.default_catalog">monedafront</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/monedafrontera/dto/Activacion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/TarjetaviajeNew.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Asesor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Autovoz.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Reportes.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Baucher.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Arrastrador.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldomiercoles.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Moneda.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Envios.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadolarparametrospromotor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Porcentajebancopais.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Banco.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tarjetaviaje.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Diasemana.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldojueves.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistacuentadetalle.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasemanasanio.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/AuditUsuario.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Bindb.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Promotorfranquicia.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Activagestor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Bloqueotarjeta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistatxdiasemana.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Viaje.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistacuentasvenezolanas.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Puntoestablecimiento.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistacuentacons.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cne.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadolarparametro.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadolarpromotorparametro.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Observacion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Porcentajecomisiontxparam.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Porcentcomisiontxparampromo.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Rol.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Personaltipoproceso.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Mesanio.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/AuditViaje.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Comisionhistorico.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cuentacredito.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Usuario.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Detallefactura.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Calendario.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Solicitudtarjeta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadolarparametros.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Depositostarjeta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Saldodepositos.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Saldodiariopromotor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Bancobin.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cuentapromotor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Operacion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Promotorcomisiontx.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Inventario.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldolunes.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Gestor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Producto.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadebolivaroficina.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldoviernes.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistaactivaciones.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/AuditGastos.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Saldo.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadolarbancopais.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/AuditTransferencia.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasaeuropromotorparametro.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cuenta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldomartes.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistacuentasaldo.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/AuditTarjetaviaje.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Franquiciaestablecimiento.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasaeuroparametro.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Agencia.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Variable.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/AuditTarjeta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Paisiso.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasabolivartransferpais.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldodiariopromotor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Franquicia.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Puntodeventa.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cargo.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Estadoactivacion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Clasetarjeta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Promotortasa.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistaactobservacion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasadolar.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Solicitudtransferencia.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tasabolivarnegociado.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistacuenta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Promotor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Gravamenestablecimiento.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Establecimiento.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Paridadmoneda.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Porcentajeparametros.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Empresa.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Porcentajecomisiontx.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Transaccion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Gastos.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Establecimientoprecio.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Administrativo.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Personal.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Banner.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tipogasto.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Porcentajeparametrospromotor.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tipoproceso.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Deducciones.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Transaccionerror.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Dolartoday.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Gravamen.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Sales.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Bancocol.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistasaldosabado.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Config.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Erroringresocadivi.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cnedireccion.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Actestado.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Factura.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Pais.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Vistacuentasfecha.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Tarjeta.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Transferencia.hbm.xml" />
        <mapping resource="com/monedafrontera/dto/Cita.hbm.xml" />
    </session-factory>
</hibernate-configuration>
